{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}

<div class="row">
    <div class="col-sm-12">
        <h1 class="details-heading">{{ product.name }}</h1>
    </div>
    <div class="col-sm-12 col-lg-5 col-md-5">
        <img class="card-img-top" src="/media/{{ product.image }}" alt=" {{ product.name}} image" />
    </div>
    <div class="col-sm-12 col-lg-6 col-md-6 box-margin">
        <h3>Product Features</h3>
        <hr />
        <ul>
            <li>{{ product.processor}}</li>
            <li>{{ product.ram }}</li>
            <li>{{ product.graphics }}</li>
            <li>Battery life: {{ product.battery_life }}</li>

        </ul>
        <div>
            <hr />
            <span class="product-price"> {{ product.price}} </span>
            <hr />
        </div>
        <div>
            <form method="post" action="{% url 'add_to_cart' product.id %}">
                {% csrf_token %}
                <div class="input-group">
                    <input name="quantity" type="number" min="1" max="999" class="form-control" value=1 required />
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="submit">Add to cart</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <div class="col-sm-12">
        <h3>Product information</h3>
        <hr />
        {{ product.description }}
    </div>
</div>
<a href="{% url 'index' %}">Continue Shopping</a>
{% endblock %}