{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}

<div class="row">
    <div class="col-sm-12">
        <h1 class="details-heading">{{ product.name }}</h1>
    </div>
    <div class="col-sm-12 col-lg-5 col-md-5">
        <img class="card-img-top" src="/media/{{ product.image }}" alt=" {{ product.name}} image" />
    </div>
    <div class="col-sm-12 col-lg-6 col-md-6 box-margin">
        <h3>Product Features</h3>
        <hr />
        <ul>
            <li>{{ product.processor}}</li>
            <li>{{ product.ram }}</li>
            <li>{{ product.graphics }}</li>
            <li>{{ product.screen }}</li>
            <li>Battery life: {{ product.battery_life }}</li>
        </ul>
        <p>
            <span class="product-details-price"><i class="fas fa-euro-sign"></i> {{ product.price}} </span>
        </p>
        <div class="row">
            <div class="col-xs-8 mr">
                <form method="post" action="{% url 'add_to_cart' product.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="quantity" type="number" min="1" max="999" class="form-control" value=1 required />
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit"> <i class="fas fa-cart-plus"></i> Add to
                                cart</button>
                        </span>
                    </div>
                </form>
            </div>
            {% if product_count > 0 %}
            <button class="btn btn-success"><a href="{% url 'view_cart' %}">View Cart</a></button>
            {% endif %}
        </div>
    </div>
</div>
<div class="row info">
    <div class="col-sm-12">
        <h3>Product information</h3>
        <hr />
        <p><strong>{{ product.description_heading_one }}</strong></p>
        <p class="smaller-font">{{ product.description_one }}</p>
        <p><strong>{{ product.description_heading_two }}</strong></p>
        <p class="smaller-font">{{ product.description_two }}</p>
        <p><strong>{{ product.description_heading_three }}</strong></p>
        <p class="smaller-font">{{ product.description_three }}</p>
    </div>
</div>
{% endblock %}