{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}

<div class="row">
    <div class="col-sm-12 col-lg-5 col-md-5">
        <img class="card-img-top" src="/media/{{ product.image }}" alt=" {{ product.name}} image" />
    </div>
    <div class="col-sm-12 col-lg-6 col-md-6">
        <p>Product Features</p>
        <hr />
        <p>Processor: {{ product.processor}}</p>

        {{ product.ram }}
        <div>
            <form method="post" action="{% url 'add_to_cart' product.id %}">
                {% csrf_token %}
                <div class="input-group">
                    <input name="quantity" type="number" min="1" max="999" class="form-control"
                        placeholder="Quantity" />
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="submit">Add</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <div class="col-sm-12">
        {{ product.description }}
    </div>
</div>
<a href="{% url 'index' %}">Back to HomePage</a>
{% endblock %}