body {
  font-family: Arial;
  padding-top: 50px;
  color: #595c59;
  height: 100%;
  user-select: none;
  font-family: "Lato", sans-serif;
}

.main {
  min-height: calc(100vh - 218px);
}

h1 {
  font-size: 1.75rem;
  font-weight: bold;
}

h3 {
  font-size: 1.3rem;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}

.alert-success {
  margin: 3rem 0 -2rem 0;
}

footer {
  background-color: #343a40;
  padding: 2rem 1rem;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 5rem;
  width: 100%;
}

footer p {
  margin: 0;
  text-align: center;
}

.mobile {
  display: inline-block !important;
  width: 75%;
}

/* login/registration form */
.login {
  padding: 1rem 2rem;
  margin-top: 10vh;
  border: 1px solid #ced4da;
  border-radius: 10px;
}

.log-heading {
  text-align: center;
  margin-bottom: 2rem;
}

.help-block {
  font-size: 0.8rem;
  color: lightslategrayda;
}

.login-ref {
  font-size: 0.8rem;
}

/* homepage */
.jumbotron-home {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)),
    url(../images/apple.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  height: 50vh;
}

#search-button {
  vertical-align: baseline;
}

.container-fluid {
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  position: absolute;
  bottom: 4rem;
}

.container-fluid h2 {
  font-size: 3.2rem;
  font-weight: bold;
}

.container-fluid p {
  font-size: 1.29rem;
}

.heading {
  margin-top: 4rem;
}

.card {
  padding: 1.5rem;
  border: 1px solid transparent;
}

.card:hover {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.card-body {
  padding: 0;
}

.product-name {
  color: #595c59;
}

.product-price {
  color: #dc143c;
  font-weight: bold;
  font-size: 1.5rem;
  border-top: 1px solid lightgray;
  padding: 0.5rem 0 0 0;
  display: block;
}

.home-title {
  margin-bottom: 1.5rem;
}

/* Product details page */
.details-heading {
  font-size: 1.5rem;
}

.box-margin {
  margin: 2rem 0;
}

.smaller-font {
  font-size: 0.9rem;
}

.product-details-price {
  color: #dc143c;
  font-weight: bold;
  font-size: 1.8rem;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding: 0.5rem 0;
  display: block;
  text-align: center;
  margin-top: 2.5rem;
}

.product-line {
  margin-bottom: 2rem;
}

.mr {
  margin: auto auto;
}

.info {
  margin-top: 2.5rem;
}

/* cart page */
.cart {
  padding: 0.5rem 0;
  width: 50%;
}

.empty-cart {
  padding-top: 4rem;
  font-size: 7rem;
}

.no-results {
  font-size: 1.2rem;
  margin-top: 2.5rem;
}

.btn-danger {
  margin-left: -2rem;
}

.btn-success {
  margin-left: 4px;
}

.cart-bottom {
  margin-bottom: 3rem;
}

.right {
  float: right;
}

.align {
  padding-top: 1.4rem;
  text-align: center;
}

.product-space {
  display: block;
  margin-bottom: 4.5rem;
}

.product-description {
  font-size: 0.9rem;
}

.input-width {
  width: 30% !important;
}

.cart-nav-bottom {
  margin-top: 1rem;
}

.trash-space {
  display: inline-block;
  width: 34%;
}

.price-space {
  width: 50%;
  float: left;
  text-align: right;
  padding-top: 9px;
}

.summary {
  font-size: 1.2rem;
  font-weight: bold;
  float: right;
  text-align: right;
}

/* search page */

.search-results {
  background-image: url("../images/nothing.png");
  background-size: contain;
  background-repeat: no-repeat;
}

/* .icon-bar {
  background-color: #fff;
} */

.badge {
  padding: 0.25em 0.5em;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}

.product {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  margin: auto auto;
}

legend {
  padding: 2rem 0 2rem 1rem;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix {
  clear: both;
}

#backTop {
  width: 45px;
  line-height: 45px;
  overflow: hidden;
  z-index: 999;
  display: none;
  cursor: pointer;
  transform: rotate(270deg);
  position: fixed;
  bottom: 30px;
  right: 25px;
  background-color: #ddd;
  color: #555;
  text-align: center;
  font-size: 35px;
  transition: 0.2s linear all;
  box-shadow: 0px 0px 5px 1px grey;
}
