body {
  font-family: Arial;
  padding-top: 50px;
  color: #595c59;
}

h1 {
  font-size: 1.75rem;
  font-weight: bold;
}

h3 {
  font-size: 1.3rem;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}

.alert-success {
  margin: 3rem 0 -2rem 0;
}

footer {
  background-color: #343a40;
  padding: 2rem 1rem;
  margin-top: 5rem;
  color: rgba(255, 255, 255, 0.5);
}

/* homepage */
.jumbotron-home {
  background: url(../images/asus.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  height: 50vh;
}

.container-fluid {
  color: #fff;
  text-shadow: 1px 1px 2px #000;
}

.container-fluid h2 {
  font-size: 3.2rem;
  font-weight: bold;
}

.container-fluid p {
  font-size: 1.29rem;
}

.heading {
  margin-top: 4rem;
}

.card {
  padding: 0.5rem;
  border: 1px solid transparent;
}

.card:hover {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.card-body {
  padding: 0;
}

.product-name {
  color: #595c59;
}

.product-name {
  min-height: 100px;
}

.product-price {
  color: #dc143c;
  font-weight: bold;
  font-size: 1.5rem;
  border-top: 1px solid lightgray;
  padding: 0.5rem 0 0 0;
  display: block;
}

/* Product details page */
.details-heading {
  font-size: 1.5rem;
}

.box-margin {
  margin: 2rem 0;
}

.smaller-font {
  font-size: 0.9rem;
}

.product-details-price {
  color: #dc143c;
  font-weight: bold;
  font-size: 1.8rem;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding: 0.5rem 0;
  display: block;
  text-align: center;
  margin-top: 2.5rem;
}

.mr {
  margin: auto auto;
}

.info {
  margin-top: 2.5rem;
}

.icon-bar {
  background-color: #fff;
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  border-radius: 50%;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}

.product {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
}

caption p {
  word-wrap: break-word;
}

.row.row-flex {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}
