{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block page_title %} TopTech | Registration Page {% endblock %}

{% block content %}
<!--registration form-->
<div class="row">
    <div class="col-sm-12 col-md-6 offset-md-3">
        <form method="POST" class="login">
            <fieldset class="form-group">
                <h1 class="log-heading">Create a new account</h1>
                {% csrf_token %}
                {{ registration_form | as_bootstrap }}
                <button type="submit" class="btn btn-outline-success">Create account</button><br /><br />
                <p class="login-ref">If you already have an account, you can <a href="{% url 'login' %}">Sign In</a></p>
            </fieldset>
        </form>
        <!--/form-->
    </div>
    <!--/column-->
</div>
<!--/row-->
{% endblock %}