{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}

<h1 class="text-center m-4">Your shopping cart</h1>
<div class="row justify-content-center">
    {% if product_count == 0  %}
    <div class="text-center m-3">
        <p>Your cart is currently empty</p>
    </div>
    <div class="mb-4">
        <a href="{% url 'index' %}">
            <button type="button" class="btn btn-sm btn-success text-white w-100 "><strong>Return to
                    Shopping</strong></button>
        </a>
    </div>
    {% else %}

    <div class="row row-flex">
        {% for item in cart_items %}
        <div class="col-sm-12">
            <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image}}')"></div>
            <div class="caption">
                <h3>{{ item.product.image }}</h3>
                <p class="product-description">{{ item.product.name }}</p>
                <p>
                    <form class="form-inline" method="post" action="{% url 'update_cart' item.id %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="inputAmount" class="sr-only">New Qty</label>
                            <div class="input-group">
                                <div class="input-group-addon">Qty</div>
                                <input name="quantity" type="number" min="0" max="999" class="form-control">
                                <div class="input-group-addon">{{ item.quantity }}</div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <p>Total</p>
        <p>&euro; {{ total}}</p>
        <a href="{% url 'checkout' %}" class="btn btn-success" role="button">Proceed to Checkout</a>
    </div>
    {% endif %}
    {% endblock %}