{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block page_title %} TopTech | Cart {% endblock %}

{% block page_heading %}
<h1 class=" heading text-center cart-bottom">Review your shopping cart</h1>
<hr />
{% endblock %}

{% block content %}
<div class="row">
    {% if product_count == 0  %}
    <div class="col-sm-12 text-center">
        <i class="fas fa-shopping-cart empty-cart"></i>
    </div>
    <div class="col-sm-12 text-center no-results">
        <p>Your cart is currently empty</p>
    </div>
    <div class="col-sm-6 offset-sm-3 text-center">
        <a href="{% url 'index' %}">
            <button type="button" class="btn btn-sm btn-success cart">Return to Shopping</button>
        </a>
    </div>
    {% else %}
    {% for item in cart_items %}
    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image}}')"></div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="align">
            <p class="product-description">{{ item.product.name }}</p>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
        <form class="form-inline align justify-content-center" method="post" action="{% url 'update_cart' item.id %}">
            {% csrf_token %}
            <div class="input-group-addon">Qty&nbsp;</div>
            <input name="quantity" type="number" min="0" max="999" value="{{item.quantity }}"
                class="form-control input-width">
            <button type="submit" class="btn btn-success"><i class="fas fa-sync-alt"></i></button>
        </form>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 align">
        <span class="product-space">
            {{ item.quantity }} x &euro; {{ item.product.price }} <a href="{% url 'remove_product' item.id %}"
                class="btn btn-danger" role="button"><i class="fas fa-trash"></i></a></span>
    </div>

    {% endfor %}

</div>
<hr />
<div class="row summary">
    <div class="col-sm-12 text-md-right text-sm-right">
        <p>Total</p>
        <p>&euro; {{ total }}</p>
    </div>
</div>
<div class="row cart-nav-bottom">
    <div class="col-sm-12">
        <a href="{% url 'index' %}" class="btn btn-success" role="button"><i class="fas fa-arrow-circle-left"></i>
            Shopping</a>
        <a href="{% url 'checkout' %}" class="btn btn-success right" role="button"> Checkout <i
                class="fas fa-arrow-circle-right"></i></a>
    </div>
</div>
{% endif %}
{% endblock %}